/*
  this module is responsible for general configuration of the slick slider
*/

#video-section, #img-section, #tours-section {
  // Own html structure:
  ul.slick-previews {
    position: relative;
    margin: 50px auto 0;
    padding: 0;
    list-style: none;
    transition: all 300ms ease;
    li.slick-preview {
      position: relative;
      border: 20px solid white;
      //border-left: none;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 35px;
        height: 35px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAA0CAQAAABI31KIAAABHUlEQVR4Ae2Vu0oDQRRAB2xSWVmmtQncLzFREUUsnW/wJ0SCWgQV8TUQBBEsjlgIFoJFCsFCCT5QgwZFtPGtncUWIcTZnd2pAnNOf2Bn5t5VgUCge8mpPtWrevxD+cbi1KTq948VXvjlbMM/Jk2aPPPjHZM7Ip88Y3JLy0e+M8fkmnYfMsbkkk7v+Uodkzr/2+AzVUxOsXvDh3NMToj3inenmByT7AVviTGp4WadV85XK0WVs4SOcHd3rVyyhg5xc91M6NhPOyDZFTOuEw97n3iXzZh2uv497C6YUe38ILFQMSM61Yjs0Om8Gdaph3abdmfNkM60RrZoWTaDOvNi2yRyxpQsETcKVapMm6JHJCI/tzTgEfH4QXYxgUDgD+1pwmmFlV3oAAAAAElFTkSuQmCC");
        background-position: 0;
        background-repeat: no-repeat;
      }
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }

  // After slick's transforms:
  button.slick-prev, button.slick-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
    font-size: 0;
    // native size of this image: 11px X 27px
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAbCAYAAACqenW9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QEPFh4p+pcjEAAAAT5JREFUOMuF1EFkHFEYB/DfbpsStsoSqiG5JPRS9pKSQ+6hdI8h5LByCJFDCXsqUUpOOYSobDW5tdfSUykhewyJEHKq3kroqYQlrM1lhuf1m+13GfP3M/Pme9+bmqVjY2oaL3A16nd+18bgNXzCI9yhXa+AM+gVUHH9XIV3MZllzQi/xGqQX0W4V/G2bo7X0QrgN3xPcQPvA3iHbUjxOzwN8AF+pngOWwG8wU55U+K9pKdpvcVtipfxOoCXOEqDOg4rWrWRB/Via/O6wFmEBwGex1SE9wL8uJiPf/Bu2cf/7Wa5jG7FR37IMXzFaYAX0wlMt3sTw4rZbsADs+0y/FPMxkKGn2CEk/wMNvGrAGkN8Dx9chn+xasMT+BZdFI+4jrIVyI8xJuoj1Wn+we+ZNn+wzF/o04xTC2cj/qdg3vQSzkAgC0jTwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-size: 11px 27px;
    background-position: 25px;
    //&::-moz-focus-inner {
    //  border: 0;
    //}
  }
  button.slick-prev {
    left: -55px;
    transform: translateY(-50%);
  }
  button.slick-next {
    right: -55px;
    // maybe over-engineering.
    // but u have to look after this variable -
    // it should correlate with arrow's height
    $topAdjustment: calc(-50% + 50px);
    transform: rotate(180deg) translateY($topAdjustment);
  }
  // override plugin's built-in nav-buttons
  button.slick-prev:before, button.slick-next:before {
    font-size: 0;
  }
  ul.slick-dots {
    position: static;
    font-size: 0;
    li {
      width: 10px;
      height: 10px;
      padding: 0;
      margin: 0 10px 0 10px;
    }
    // somehow slick duplicate this selector: 'ul.slick-previews > li:after' in ul.slick-dots
    & *:after {
      display: none;
    }
  }

  // dynamic styling depends on the number of the items in the slider.
  // P.S. two instances of each selector for case if minifier will cut the space chars
  ul.slick-previews[data-slick*='"slidesToShow": 1'],
  ul.slick-previews[data-slick*='"slidesToShow":1'] {
    width: 300px;
    li.slick-preview {
      width: 300px;
      height: 180px;
    }
  }
  ul.slick-previews[data-slick*='"slidesToShow": 2'],
  ul.slick-previews[data-slick*='"slidesToShow":2'] {
    width: 470px;
    li.slick-preview {
      width: 225px;
      height: 168px;
    }
  }
  ul.slick-previews[data-slick*='"slidesToShow": 3'],
  ul.slick-previews[data-slick*='"slidesToShow":3'] {
    width: 620px;
    li.slick-preview {
      width: 200px;
      height: 150px;
    }
  }
}